<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Runners:Pal</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    @if (ViewBag.Stylesheets != null)
    {
        foreach (var css in ViewBag.Stylesheets)
        {
    <link href="@Url.Content(css)" rel="stylesheet" type="text/css" />
        }
    }
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.19.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
    @if (ViewBag.Scripts != null)
    {
        foreach (var script in ViewBag.Scripts)
        {
    <script src="@Url.Content(script)" type="text/javascript"></script>
        }
    }
    <script type="text/javascript">
        var LoginAccountModel = function() {
            var self = this;
            this._initdElements = false;
            this.loginSection = null;
            this.loggedInSection = null;
            this.logoutAccountDialog = null;
            this.logoutSection = null;
            this.loginError = false;
            this.returnPage = '';
            this.openId = '';
            this.initLoginDialog = function() {
                this.initElements();
                this.hideLoginDialog();
                this.loginSection = $('.login');
                this.loginSection.css('cursor', 'pointer');
                this.loginSection.click(function () { self.showLoginDialog(); });

                var customOpenIdUrl = $("#loginForm input[name='loginWithOpenId']");
                $("#loginForm input[name='loginWithOpenIdGo']").click(function () {
                    self.openId = customOpenIdUrl.val();
                    self.login();
                });
                $('#loginForm').submit(function() {
                    if (self.openId == "") self.openId = customOpenIdUrl.val();
                    if (self.returnPage == "") self.returnPage = window.location.pathname;
                    var loginForm = $('#loginForm');
                    loginForm.find("input[name='openid_identifier']").val(self.openId);
                    loginForm.find("input[name='return_page']").val(self.returnPage);
                });

                if (this.isLoggedIn) this.loginSection.hide();
                else this.loggedInSection.hide();

            };
            this.login = function() {
                var loginForm = $('#loginForm');
                loginForm.find("input[name='openid_identifier']").val(self.openId);
                loginForm.submit();
            };
            this.initLogoutDialog = function() {
                this.initElements();
                this.logoutAccountDialog = $('#logoutAccount');
                this.logoutSection = $('.logout');

                self.hideLogoutDialog();

                this.logoutSection.css('cursor', 'pointer');
                this.logoutSection.click(function () { self.showLogoutDialog(); });

                $('#confirmLogout').click(function() {
                    self.hideLogoutDialog();
                    self.logout();
                });
            };
            this.logout = function() {
                $.post('@Url.Action("logout", "user")', function(logoutData) {
                    self.isLoggedIn = false;
                    self.loggedInSection.hide();
                    self.loginSection.show();
                    window.location.reload();
                });
            };
            this.isLoggedIn = @if (ViewContext.HasValidUserAccount()) {<text>true</text>} else {<text>false</text>};
            this.loginCreateAccountDialog = null;
            this.loginUsingOpenId = null;
            this.showLoginDialog = function() {
                $(window).scrollTop(0);
                var loginLogoutSection = $('.loginLogout');
                loginLogoutSection.hide();

                if (this.loginCreateAccountDialog == null) this.initElements();

                this.loginUsingOpenId.hide();
                this.loginCreateAccountDialog.show();
                this.loginCreateAccountDialog.children().first().show();
            };
            this.hideLoginDialog = function() {
                if (this.loginCreateAccountDialog == null) this.initElements();
                this.loginCreateAccountDialog.hide();
                var loginLogoutSection = $('.loginLogout');
                loginLogoutSection.show();
            };
            this.showLogoutDialog = function() {
                $(window).scrollTop(0);
                this.logoutSection.hide();
                this.logoutAccountDialog.show();
            };
            this.hideLogoutDialog = function() {
                this.logoutSection.show();
                this.logoutAccountDialog.hide();
            };
            this.initElements = function() {
                if (this._initdElements) return;
                this.loggedInSection = $('.loggedIn');
                this.loginCreateAccountDialog = $('#loginCreateAccount');
                this.loginUsingOpenId = this.loginCreateAccountDialog.find("#loginCustomOpenId");

                this.loginCreateAccountDialog.find("input[name='loginOther']").click(function() {
                    self.loginUsingOpenId.show();
                    self.loginCreateAccountDialog.children().first().hide();
                });
                this.loginCreateAccountDialog.find("input[data-url]").click(function() {
                    self.openId = $(this).attr('data-url');
                    self.login();
                });

                $('.loginCancel').click(function() {
                    self.hideLoginDialog();
                    self.hideLogoutDialog();
                });

                var loginHelpDlg = $("#loginHelpDialog").dialog({			        height: 350,                    width: 450,			        modal: true,                    buttons: { OK: function() { $(this).dialog("close"); } },                    autoOpen: false		        });
                $('.loginHelp').click(function() {
                    loginHelpDlg.dialog('open');
                });

                var loginErrorDialog = $('#loginErrorDialog').dialog({
			        height: 350,                    width: 450,			        modal: true,                    buttons: { OK: function() { $(this).dialog("close"); self.showLoginDialog(); } },                    autoOpen: false                });
                @if (!string.IsNullOrWhiteSpace(Session["login_errorMessage"] as string)) {<text>
                this.loginError = true;
                loginErrorDialog.dialog('open');
                </text>}

                this._initdElements = true;
            };
        };
        var loginAccountModel = new LoginAccountModel();

        var UnitsModel = function() {
            var self = this;
            this._radioElements = null;
            this.callbacks = [];
            this.init = function(jqEl) {
                self._radioElements = jqEl;
                self._radioElements.click(self.updateUnits);
            };
            this.updateUnits = function() {
                var newUnit = self._radioElements.filter("input:checked").val();
                if (self.unitsNameFor(newUnit) == self.currentUnitsName) return;
                $.post('@Url.Action("updatedistanceunits", "home")', { distanceUnit : newUnit }, function() {
                    self.currentUnitsName = self.unitsNameFor(newUnit);
                    self.currentSingularUnitsName = self.singularUnitsNameFor(newUnit);
                    jQuery.each(self.callbacks, function(i, c) { if (jQuery.isFunction(c)) c(newUnit); });
                });
            };
            this.change = function(callback) {
                self.callbacks.push(callback);
            };
            this.currentUnitsName = '@ViewContext.UserDistanceUnits("a")';
            this.unitsNameFor = function(unitId) {
                if (unitId == @((int)RunnersPal.DistanceUnits.Miles))
                    return '@(RunnersPal.DistanceUnits.Miles.UnitsToString("a"))';
                if (unitId == @((int)RunnersPal.DistanceUnits.Kilometers))
                    return '@(RunnersPal.DistanceUnits.Kilometers.UnitsToString("a"))';
                return '';
            };
            this.currentSingularUnitsName = '@ViewContext.UserDistanceUnits("a.s")';
            this.singularUnitsNameFor = function(unitId) {
                if (unitId == @((int)RunnersPal.DistanceUnits.Miles))
                    return '@(RunnersPal.DistanceUnits.Miles.UnitsToString("a.s"))';
                if (unitId == @((int)RunnersPal.DistanceUnits.Kilometers))
                    return '@(RunnersPal.DistanceUnits.Kilometers.UnitsToString("a.s"))';
                return '';
            };
            this.toggle = function() {
                self._radioElements.filter("input:not(:checked)").attr("checked", "checked");
                self.updateUnits();
            };
        }
        var unitsModel = new UnitsModel();

        $(function () {
            loginAccountModel.initLoginDialog();
            loginAccountModel.initLogoutDialog();
            unitsModel.init($("input[name='unit-prefs']"));
        });
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-9144652-4']);
        _gaq.push(['_setDomainName', 'runnerspal.co.uk']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <header>
      <div id="logo">
        <div id="logo_text">
          <h1><a href="@Url.Content("~/")">runners<span class="logo_colour">:pal</span></a></h1>
        </div>
        <form action="@Url.Action("login", "home")" method="post" id="loginForm">
        <input type="hidden" name="openid_identifier" value="" />
        <input type="hidden" name="return_page" value="" />
        <h2>
            <span class="loginLogout">
                <a class="login" href="#">Login</a>
                <span class="loggedIn">
                    <a class="loggedInUser" href="@Url.Action("profile", "user")" title="Edit your profile">@if (ViewContext.HasValidUserAccount()) {<text>@ViewContext.UserAccount().DisplayName</text>}</a>
                    <a class="logout" href="#">Logout</a>
                </span>
            </span>

            <span id="loginCreateAccount">
                <span id="loginOptions">
                Login using
                <input type="button" class="loginLogoutSelection loginGoogle" name="loginWithGoogle" value="    Google" title="Login using your Google account" data-url="https://www.google.com/accounts/o8/id" />
                <input type="button" class="loginLogoutSelection loginTwitter" name="loginWithTwitter" value="    Twitter" title="Login using your Twitter account" data-url="https://twitter.com/" />
                <input type="button" class="loginLogoutSelection loginYahoo" name="loginWithYahoo" value="    Yahoo" title="Login using your Yahoo account" data-url="https://me.yahoo.com" />
                <input type="button" class="loginLogoutSelection loginMyOpenId" name="loginWithMyOpenID" value="    MyOpenID" title="Login using your MyOpenID account" data-url="https://www.myopenid.com/" />
                <input type="button" class="loginLogoutSelection loginOpenId" name="loginOther" value="    Other..." title="Login using your custom OpenID URL" />
                <input type="button" value="" title="Help" class="loginHelp" />
                <input type="button" value="" title="Cancel" class="loginCancel cancel" />
                </span>
                <span id="loginCustomOpenId">
                Login with your OpenID URL:
                <input type="url" class="loginLogoutSelection" name="loginWithOpenId" value="" title="Enter your OpenID URL (for example, http://yourid.myopenid.com/)" />
                <input type="button" class="loginLogoutSelection" name="loginWithOpenIdGo" value="Login" />
                <input type="button" value="" title="Help" class="loginHelp" />
                <input type="button" value="" title="Cancel" class="loginCancel cancel" />
                </span>
            </span>
            <span id="logoutAccount" class="loginLogoutSection">
                <input type="button" class="loginLogoutSelection" id="confirmLogout" value="Yes, log me out" title="Click to confirm logout" />
                <input type="button" value="" title="Cancel" class="loginCancel cancel" />
            </span>
        </h2>
        </form>
      </div>

      <menu>
        <ul id="menu">
          <li class="@{if (ViewBag.SelectedTab == "RunLog") {<text> selected</text>}}">@Html.ActionLink("Run:Log", "", "runlog")</li>
          <li class="@{if (ViewBag.SelectedTab == "RoutePal") {<text> selected</text>}}">@Html.ActionLink("Route:Pal", "", "routepal")</li>
          <li class="@{if (ViewBag.SelectedTab == "MyStats") {<text> selected</text>}}">@Html.ActionLink("My:Stats", "", "user")</li>
          <li class="@{if (ViewBag.SelectedTab == "Calculators") {<text> selected</text>}}">@Html.ActionLink("Calculators", "", "calculators")</li>
        </ul>
      </menu>
    </header>

    <article>
        <section id="content-full">
        @RenderBody()
        </section>
    </article>

    <footer>
        <p>
        Preferred units:
        <label accesskey="ui"><input type="radio" name="unit-prefs" value="0" @if(ViewContext.UserDistanceUnits() == RunnersPal.DistanceUnits.Miles) {<text> checked</text>}/>miles</label>
        <label accesskey="ui"><input type="radio" name="unit-prefs" value="1" @if(ViewContext.UserDistanceUnits() == RunnersPal.DistanceUnits.Kilometers) {<text> checked</text>}/>kilometers</label>
        </p>
        <p>
        <a href="http://awhitfield.ltd.uk" target="_blank">&copy; A.Whitfield Ltd</a>
        </p>
    </footer>

    <div id="loginHelpDialog" title="Login Help">        <p>        It only takes a few moments to login or create an account. If you've        <strong>previously created an account</strong> on runners:pal, simply click on        either Google, Twitter, Yahoo, or MyOpenID to re-enter your password.        </p>        <p>        For <strong>new users</strong>, use or create an account from one of        Google, Twitter, Yahoo, or MyOpenID. Once you've logged in you there, you        will be returned to runners:pal and we will simply ask for your name.        That's it.        </p>        <p>        <i>More</i>: We use <a href="http://openid.net/" target="_blank">OpenID</a> - which means        we don't know or store your username or password - you login        securely on the Google/Twitter/Yahoo/MyOpenID site. We don't have access        to your email address (i.e. we don't know your gmail address).        </p>        <p>        If you have an alternative OpenID, simple click the <i>Other</i> button        and then enter your custom OpenID URL.        </p>    </div>

    <div id="loginErrorDialog" title="Login Error">
        <p><strong>Sorry!</strong></p>
        <p>
        There was an error logging in using your chosen login site. This may be a temporary problem
        so please try again.
        </p>
        <p><strong>More Details</strong></p>
        <p>
        @Session["login_errorMessage"]
        </p>
    </div>@{ Session.Remove("login_errorMessage"); }
</body>
</html>
