@model RunnersPal.Web.Models.RunLogViewModel
@{
    ViewBag.Title = "Run:Log";
    ViewBag.SelectedTab = "RunLog";
    ViewBag.Stylesheets = new[] { "~/Content/fullcalendar.css" };
    ViewBag.Scripts = new[] { "~/Scripts/fullcalendar.min.js", "~/Scripts/latlon.js", "~/Scripts/geo.js", "~/Scripts/maproute.js", "http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" };
}
<script type="text/javascript">
    var newRunModel;
    var beginEdit = false;

    Date.prototype.yyyymmdd = function() { 
        var yyyy = this.getFullYear().toString();
        var mm = (this.getMonth()+1).toString();
        var dd  = this.getDate().toString();
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]);
    };

    var kmUnitMultiplier = function() { return unitsModel.currentSingularUnitsName == 'mile' ? 1 / 1.609344 : 1; };
 
     function MyRouteModel(owner, id, name, distance, lastRunOn, notes) {
        var self = this;
        self._owner = owner;
        self.routeId = ko.observable(id);
        self.routeName = ko.observable(name);
        self.routeNotes = ko.observable(notes);
        self.distance = ko.observable(distance);
        self.distanceUnits = ko.observable(unitsModel.currentUnitsName);
        self.lastRunOn = ko.observable(lastRunOn);

        self.showLastRun = ko.computed(function() { return self.lastRunOn() != null && self.lastRunOn() != ""; }, this);
        self.lastRunText = ko.computed(function() {
            if (!self.showLastRun()) return "";
            return "Last run on " + self.lastRunOn() + ".";
        }, this);

        self.chooseRoute = function() {
            // make this the selection
            self._owner.route(self.routeId());
            self._owner.distance(self.routeName() + ", " + self.distance() + " " + self.distanceUnits());
            $('#add-run-time').focus().select();
        };
    }

    function RouteMapping(model) {
        var self = this;
        self._route = null;
        self._model = model;
        self.routeName = ko.observable("");
        self.routeNotes = ko.observable("");
        self.routePublic = ko.observable(false);
        self.routeModified = ko.observable(false);
        self.routePointCount = ko.observable(0);
        self.distance = ko.observable(0.00);
        self.distanceDisplay = ko.computed(function() { return self.distance() == 0 ? "0" : self.distance().toFixed(4); }, self);
        self.distanceUnits = ko.observable(unitsModel.currentUnitsName);
        self.allowUndo = ko.computed(function() { return self.distanceDisplay() != "0" || (self.routePointCount() > 0); }, self);

        self.addRoutePoint = function(p) {
            if (self._route == null) return;
            self._route.addPoint(p);
            self.routePointCount(self._route.pointCount());
            self.routeModified(true);
            self.distance(self._route.totalDistance() * kmUnitMultiplier());
        };
        self.undoLastPoint = function() {
            if (self._route == null) return;
            self._route.undo();
            self.routePointCount(self._route.pointCount());
            self.routeModified(true);
            self.distance(self._route.totalDistance() * kmUnitMultiplier());
        };
        self.pointsToJson = function() {
            if (self._route == null) return "[]";
            return self._route.toJson();
        }

        self.reset = function() {
            self.routeName('');
            self.routeNotes('');
            self.routePublic(false);

            self.distance(0.00);

            if (self._route != null) {
                self._route.clear();
                self.routePointCount(self._route.pointCount());
            }
            self.routeModified(false);
        };
        self.updateParent = function(model, distance, routeName) {
            if (typeof(model) == "undefined")
                model = self._model;
            if (typeof(distance) == "undefined")
                distance = self.distance();
            if (typeof(routeName) == "undefined")
                routeName = self.routeName();

            if (model == null) return;

            if (distance > 0 && routeName != "") {
                model.distance(distance.toFixed(4));
                model.route(-2);
            } else {
                model.route(0);
            }
            model.routeType('');
        }
        self.routeChange = ko.computed(function() {
            self.updateParent(self._model, self.distance(), self.routeName());
        });
        self.redrawRoute = function() {
	        self.distance(0.00);
	        if (self._route != null) {
	            var points = self._route.points();
	            self._route.distanceMarkerUnits(1 / kmUnitMultiplier());
	            self._route.clear();
	            for (var i = 0; i < points.length; i++)
	                self.addRoutePoint(points[i].toMapsLocation());
	        }
        };
    }

    $(function () {
        var AddRunModel = function () {
            var self = this;
            this.runLogId = ko.observable(-1);
            this.eventDate = ko.observable();
            this.runDate = ko.computed(function () { return self.eventDate() ? self.eventDate().toLocaleDateString() : ""; });
            this.route = ko.observable(0);
            this.routeType = ko.observable("");
            this.distance = ko.observable("0");
            this.distanceDescription = ko.computed(function () {
                if (this.route() < 0)
                    return this.distance() + " " + (this.distance() != 1 ? this.distanceUnits() : this.distanceUnitsSingular());
                if (this.route() > 0)
                    return this.distance();
                return "Nothing selected - please choose a distance from below";
            }, this);
            this.distanceUnits = ko.observable("@ViewContext.UserDistanceUnits("a")");
            this.distanceUnitsSingular = ko.observable("@ViewContext.UserDistanceUnits("a.s")");
            this.time = ko.observable("");
            this.pace = ko.observable("0");
            this.paceCalc = ko.computed(function () {
                $.post('@Url.Action("calcpace", "calculators")', { route: this.route(), distance: this.distance(), time: this.time(), calc: 'pace' },
                function (result) {
                    self.pace(result.Pace);
                }
              );
            }, this).extend({ throttle: 200 });
            this.calories = ko.observable("0");
            this.caloriesCalc = ko.computed(function () {
                if (!this.eventDate()) return;
                $.post('@Url.Action("autocalccalories", "calculators")', { date: this.eventDate().toUTCString(), route: this.route(), distance: this.distance() },
                function (result) {
                    if (!result.Result) return;
                    self.calories(result.Calories);
                }
              );
            }, this).extend({ throttle: 200 });
            this.comment = ko.observable("");
            this.showAdd = ko.observable(true);
            this.showEdit = ko.observable(false);
            this.showDelete = ko.observable(false);
            this.showViewRoute = ko.computed(function() { return this.route() > 0 && this.routeType() != 'common'; }, this);
            this.myRoutes = ko.observableArray([]);
            this.foundRoutes = ko.observableArray([]);
            this.foundRouteText = ko.observable("");
            this.applyOpenRouteBtn = function() { $('.openRoute').button({ icons: { primary: "ui-icon-document" }, text: false }); };
            this.mapping = new RouteMapping(this);
        };

        var addRunDialog = $('#addRunDialog');
        addRunDialog.hide();

        var loginPromptDialog = $("#loginPromptDialog").dialog({
			height: 280,
            width: 400,
			modal: true,
            buttons: { OK: function() { $(this).dialog("close"); } },
            autoOpen: false
		});

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            firstDay: 1,
            selectable: true,
            selectHelper: false,
            select: function (start, end, allDay) {
                if (!loginAccountModel.isLoggedIn) {
                    loginPromptDialog.dialog('open');
                    loginPromptDialog.bind('dialogclose', function() {
                        loginAccountModel.showLoginDialog();
                        loginAccountModel.returnPage = '@(Url.Action("index", "runlog"))#addEvent='+start.yyyymmdd();
                        loginPromptDialog.unbind('dialogclose');
                    });
                } else {
                    newRunModel.runLogId(-1);
                    newRunModel.eventDate(start);
                    newRunModel.distance("0");
                    newRunModel.pace("0");
                    newRunModel.time("");
                    newRunModel.route(0);
                    newRunModel.routeType("");
                    newRunModel.comment("");
                    newRunModel.calories("0");
                    newRunModel.showAdd(true);
                    newRunModel.showEdit(false);
                    newRunModel.showDelete(false);
                    $(window).scrollTop(0);
                    addRunDialog.slideDown(function() { $("#distanceSelection").accordion('option', 'active', 0); });
                }
                calendar.fullCalendar('unselect');
            },
            eventClick: function (evt) {
                $.post('@Url.Action("view", "runlog")', { runlogid: evt.id },
                    function (result) {
                        if (!result.Completed) {
                            // TODO: proper error handling
                            alert('Could not view event: ' + result.Reason);
                            return;
                        }

                        addRunDialog.slideDown(function() {
                            var currentAccordionTab = $("#distanceSelection").accordion('option', 'active');
                            var newAccordionTab = result.routeType == 'common' ? 0 : (result.route == -1 ? 4 : 1);
                            if (currentAccordionTab != newAccordionTab) {
                                beginEdit = true;
                                $("#distanceSelection").accordion('option', 'active', newAccordionTab);
                            }
                            $(window).scrollTop(0);
                        });
                        newRunModel.runLogId(result.id);
                        newRunModel.eventDate(new Date(result.date));
                        newRunModel.distance(result.distance);
                        newRunModel.pace(result.pace);
                        newRunModel.time(result.time);
                        newRunModel.route(result.route);
                        newRunModel.routeType(result.routeType);
                        newRunModel.comment(result.comment);
                        newRunModel.showAdd(false);
                        newRunModel.showEdit(true);
                        newRunModel.showDelete(true);
                    });
            },
            editable: false,
            events: '@Url.Action("allevents", "runlog")'
        });

        $('#add-run-submit-button').click(function () {
            var eventDate = newRunModel.eventDate();
            var routeId = newRunModel.route();
            $.post('@Url.Action("add", "runlog")', { date: eventDate.toUTCString(), distance: newRunModel.distance(),
                    route: routeId, time: newRunModel.time(), comment: newRunModel.comment(),
                    newRouteName: newRunModel.mapping.routeName(), newRouteNotes: newRunModel.mapping.routeNotes(),
                    newRoutePublic: newRunModel.mapping.routePublic(), newRoutePoints: newRunModel.mapping.pointsToJson() },
                function (result) {
                    if (!result.Completed) {
                        // TODO: proper error
                        alert('Could not add event: ' + result.Reason);
                        return;
                    }

                    // TODO: the problem when putting this here is that there is a very perceptable delay when hitting the
                    //       OK button of the add run dialog and the dialog sliding up.
                    addRunDialog.slideUp('fast');
                    calendar.fullCalendar('refetchEvents');
                    if (routeId < 0)
                        fetchMyRoutes(newRunModel);
                });
        });
        $('#update-run-submit-button').click(function () {
            addRunDialog.slideUp('fast');
            var eventDate = newRunModel.eventDate();
            $.post('@Url.Action("edit", "runlog")', { runLogId: newRunModel.runLogId(), date: eventDate.toUTCString(), distance: newRunModel.distance(), route: newRunModel.route(), time: newRunModel.time(), comment: newRunModel.comment() },
                function (result) {
                    if (!result.Completed) {
                        // TODO: proper error
                        alert('Could not add event: ' + result.Reason);
                        return;
                    }

                    calendar.fullCalendar('refetchEvents');
                })
        });
        $('#delete-run-submit-button').click(function () {
            addRunDialog.slideUp('fast');
            var eventDate = newRunModel.eventDate();
            $.post('@Url.Action("delete", "runlog")', { runLogId: newRunModel.runLogId() },
                function (result) {
                    if (!result.Completed) {
                        // TODO: proper error
                        alert('Could not delete event: ' + result.Reason);
                        return;
                    }

                    calendar.fullCalendar('refetchEvents');
                })
        });
        $('#add-run-cancel-button').click(function () {
            addRunDialog.slideUp('fast');
        });

        newRunModel = new AddRunModel();
        ko.applyBindings(newRunModel);

        unitsModel.change(function (u) {
            calendar.fullCalendar('refetchEvents');
            newRunModel.distanceUnits(unitsModel.currentUnitsName);
            newRunModel.distanceUnitsSingular(unitsModel.currentSingularUnitsName);

            if (newRunModel.route() < 0)
                $.post('@Url.Action("calcdistance", "calculators")', { distanceKm: newRunModel.distance(), distanceM: newRunModel.distance(), calc: unitsModel.currentUnitsName },
                    function (result) {
                        var newDistance = u == @((int)RunnersPal.DistanceUnits.Miles) ? result.DistanceM : result.DistanceKm;
                        if (newDistance == null) return;
                        newRunModel.distance(newDistance.toFixed(4));
                    }
                );

            if (newRunModel.route() > 0)
                newRunModel.distance(newRunModel.distance() + " ");
            
            fetchMyRoutes(newRunModel);
            newRunModel.mapping.distanceUnits(unitsModel.currentUnitsName);
            newRunModel.mapping.redrawRoute();
        });

        $("#distanceSelection").accordion({
            autoHeight: false,
            navigation: true
        }).bind('accordionchange', function (event, ui) {
            if (beginEdit) {
                beginEdit = false;
                return;
            }

            // if enter manual distance, auto focus text box
            if (ui.newHeader.attr('id') == "enterManualDistance") {
                newRunModel.distance("0");
                newRunModel.route(-1);
                newRunModel.routeType("");
                ui.newContent.find('input').focus().select();
            } else if (ui.newHeader.attr('id') == "tabMapNewRoute") {
                newRunModel.route(0);
                newRunModel.routeType("");
                newRunModel.distance("0");
                newRunModel.mapping.updateParent();
            } else {
                newRunModel.route(0);
                newRunModel.routeType("");
                if (ui.newHeader.attr('id') == "tabFindARoute")
                    $('#q').focus().select();
            }
        });
        $('#distanceSelectionCommonRoutes > button')
            .text(function () { return $(this).attr('data-distancedesc'); })
            .click(function () {
                newRunModel.route($(this).attr('data-route'));
                newRunModel.routeType("common");
                newRunModel.distance($(this).attr('data-distancedesc'));
                $('#add-run-time').focus().select();
            });

        var hashItem = window.location.hash;
        if (hashItem.indexOf("#addEvent=") == 0) {
            var eventDate = new Date(hashItem.substring(10));
            calendar.fullCalendar('select', eventDate, eventDate, 1);
        }

        if (typeof (Microsoft) != "undefined") {
            var map = new Microsoft.Maps.Map($('#mapDiv')[0], { credentials: 'AtLqRCQQxDJwOrx97DYR_g9vQn2jgCO6doHIgnpNK13kHPzjLPigtEPjNDzv4Uuh' });
            Microsoft.Maps.Events.addHandler(map, 'dblclick', function (e) {
                e.handled = true;
                newRunModel.mapping.addRoutePoint(map.tryPixelToLocation(new Microsoft.Maps.Point(e.getX(), e.getY())));
            });
            map.setView({ zoom: 5, center: new Microsoft.Maps.Location(55, 0) });

            if (typeof(navigator) != "undefined" && typeof(navigator.geolocation) != "undefined" && typeof(navigator.geolocation.getCurrentPosition) == "function") {
                navigator.geolocation.getCurrentPosition(
                  function(pos) {
                    map.setView({ zoom: 10, center: new Microsoft.Maps.Location(pos.coords.latitude, pos.coords.longitude) });
                  },
                  function() { }
                );
            }

            var theRoute = new MapRoute(map);
            theRoute.distanceMarkerUnits(1 / kmUnitMultiplier());
            newRunModel.mapping._route = theRoute;
        } else {
            newRunModel.mapping._route = new function() {
                this._points = [];
                this.toJson = function() { return '[{ "latitude": 51.51106837017983, "longitude": -0.09557971954345268 },{ "latitude": 51.51104166123068, "longitude": -0.09682426452636283 },{ "latitude": 51.51204166123068, "longitude": -0.09662426452636283 }]'; };
                this.clear = function() { this._points = []; };
                this.addPoint = function(p) { this._points.push(p); };
                this.pointCount = function() { return this._points.length; };
                this.totalDistance = function() { return this.pointCount() * 2; };
                this.distanceMarkerUnits = function(u) { return 1; };
                this.points = function() { return this._points; };
            };
            $('#mapDiv').html('<p id="fakeMap">Maps not available.</p>');
            $('#fakeMap').click(function() {
                newRunModel.mapping.routeModified(true);
                newRunModel.mapping.distance(7.7);
            });
        }

        $('#routeNew')
            .button({ icons: { primary: "ui-icon-newwin" }, text: false })
            .click(function() {
                if (newRunModel.mapping.routeModified() || newRunModel.mapping.routePointCount() > 0) {
                    if (!window.confirm('This will clear the current route - are you sure you want to continue?')) return;
                }
                newRunModel.mapping.reset();
            });

        $('#routeUndo')
            .button({ icons: { primary: "ui-icon-arrowreturnthick-1-w" }, text: false })
            .click(function() {
                newRunModel.mapping.undoLastPoint();
            });

        $('#findARoute').submit(function() {
            var query = $('#q').val();
            $.post('@Url.Action("find", "routepal")', { q: query },
                function (result) {
                    if (!result.Completed) {
                        newRunModel.foundRouteText('Could not search for routes: ' + result.Reason);
                        return;
                    }
                    newRunModel.foundRoutes.removeAll();
                    for (var i = 0; i < result.Routes.length; i++)
                        newRunModel.foundRoutes.push(new MyRouteModel(newRunModel, result.Routes[i].Id, result.Routes[i].Name, result.Routes[i].Distance, result.Routes[i].LastRun, result.Routes[i].Notes, result.Routes[i].LastRunBy));
                    if (newRunModel.foundRoutes().length == 0)
                        newRunModel.foundRouteText('No routes found matching your search string. Try modifying your search and try again.');
                }
            );
            return false;
        });

        $('#downloadRunLogEvents').button({ icons: { primary: "ui-icon-arrowthickstop-1-s" } });

        function fetchMyRoutes(model) {
            $.post('@Url.Action("myroutes", "routepal")',
                function (result) {
                    if (!result.Completed) {
                        return;
                    }
                    model.myRoutes.removeAll();
                    for (var i = 0; i < result.Routes.length; i++)
                        model.myRoutes.push(new MyRouteModel(model, result.Routes[i].Id, result.Routes[i].Name, result.Routes[i].Distance, result.Routes[i].LastRun, result.Routes[i].Notes, result.Routes[i].LastRunBy));
                }
            );
        }
        fetchMyRoutes(newRunModel);
    });
</script>

<h1>Run Log</h1>

<div id="addRunDialog">
    <fieldset>
    <legend><h3>Add a Run</h3></legend>

    <div class="grid">
		<div class="grid-row">
			<div class="grid-cell grid-cell-20"><strong>Date:</strong></div>
			<div class="grid-cell-last grid-cell-80"><span id="add-run-date" data-bind="text: runDate"></span></div>
			<div class="grid-cell-end"></div>
		</div>
        <div class="grid-row grid-row-separator"></div>
		<div class="grid-row">
			<div class="grid-cell grid-cell-20"><strong>Distance:</strong></div>
			<div class="grid-cell-last grid-cell-80">
                <div id="add-run-distance-selection"><a class="openRoute" href="#" target="_blank" title="Open a map of the route in a new window" data-bind="visible: showViewRoute, attr: { href: '@Url.Action("", "routepal")' + '?route=' + route() }"></a> <strong><span data-bind="text: distanceDescription"></span></strong></div>
                <div id="distanceSelection">
	                <h3><a>Common routes</a></h3>
	                <div id="distanceSelectionCommonRoutes">
                        @foreach (var route in RunnersPal.MassiveDB.Current.GetCommonRoutes()) {
                        <button data-route="@route.Id" data-distancedesc="@route.Name"></button><text>&nbsp;</text>
                        }
	                </div>
	                <h3 data-bind="visible: myRoutes().length > 0"><a>My routes</a></h3>
	                <div style="max-height: 200px;">
                        <ul data-bind="template: { foreach: myRoutes, afterRender: applyOpenRouteBtn }">
                            <li>
                                <a class="openRoute" href="#" target="_blank" title="Open a map of the route in a new window" data-bind="attr: { href: '@Url.Action("", "routepal")' + '?route=' + routeId() }"></a> <a href="#" data-bind="click: chooseRoute, text: routeName, attr: { title: routeNotes }"></a>, <span data-bind="text: distance"></span> <span data-bind="text: distanceUnits"></span>.
                                <span data-bind="visible: showLastRun, text: lastRunText"></span>
                            </li>
                        </ul>
	                </div>
	                <h3 id="tabFindARoute"><a>Find a route</a></h3>
	                <div style="max-height: 200px;">
                    <form id="findARoute">
                    <div>
                        <label for="findRouteName"><strong>Find route:</strong></label>
                        <input type="text" id="q" />
                        <input id="findRouteGo" type="submit" value="Find..." />
                    </div>
        
                    <div data-bind="visible: foundRoutes().length == 0 && foundRouteText() == ''">Enter a search term to find a route.</div>
                    <div data-bind="visible: foundRoutes().length == 0 && foundRouteText() != '', text: foundRouteText"></div>
                    <ul data-bind="template: { foreach: foundRoutes, afterRender: applyOpenRouteBtn }">
                        <li>
                            <a class="openRoute" href="#" target="_blank" title="Open a map of the route in a new window" data-bind="attr: { href: '@Url.Action("", "routepal")' + '?route=' + routeId() }"></a> <a href="#" data-bind="click: chooseRoute, text: routeName, attr: { title: routeNotes }"></a>, <span data-bind="text: distance"></span> <span data-bind="text: distanceUnits"></span>.
                            <span data-bind="visible: showLastRun, text: lastRunText"></span>
                        </li>
                    </ul>
                    </form>
	                </div>
	                <h3 id="tabMapNewRoute"><a>Map a new route</a></h3>
	                <div>
                        <div style="position: relative; float: right; z-index: 10; background-color: #efefef; width: 180px; padding: 5px;">
                            <button id="routeNew" title="Clear all the points and start a new route">New</button>
                            <button id="routeUndo" data-bind="buttonEnabled: mapping.allowUndo()" title="Undo the last point added to the route">Undo</button>

                            <div><label for="route-name"><strong>Name:</strong> (* required)</label></div>
                            <div><input type="text" id="route-name" data-bind="value: mapping.routeName, valueUpdate: 'afterkeydown'" /></div>

                            <div>
                                <strong>Distance:</strong>
                                <span data-bind="text: mapping.distanceDisplay">0</span> <span data-bind="text: mapping.distanceUnits">miles</span>
                            </div>

                            <div><label for="route-notes"><strong>Route Notes:</strong></label></div>
                            <div><textarea id="route-notes" rows="4" cols="20" style="width: 150px;" data-bind="value: mapping.routeNotes, valueUpdate: 'afterkeydown'"></textarea></div>

                            <div>
                                <label for="route-public" title="If checked, allows everyone to view this route"><strong>Public Route:</strong></label>
                                <input type="checkbox" id="route-public" data-bind="checked: mapping.routePublic" title="If checked, allows everyone to view this route" />
                            </div>
                        </div>
                        <div id="mapDiv" style="position:relative; width:auto; height:400px;"></div>
	                </div>
	                <h3 id="enterManualDistance"><a>Enter a manual distance</a></h3>
	                <div>
                        <input type="text" data-bind="value: distance, valueUpdate: 'afterkeydown'" /> <span data-bind="text: distanceUnits" class="distanceUnits">miles</span>
	                </div>
                </div>
            </div>
			<div class="grid-cell-end"></div>
		</div>
        <div class="grid-row grid-row-separator"></div>
		<div class="grid-row">
			<div class="grid-cell grid-cell-20"><strong>Time taken:</strong></div>
			<div class="grid-cell-last grid-cell-80">
                <div class="grid">
		            <div class="grid-row">
			            <div class="grid-cell grid-cell-40"><input type="text" data-bind="value: time, valueUpdate: 'afterkeydown'" id="add-run-time" title="Enter mm or mm:ss or hh:mm:ss" /></div>
			            <div class="grid-cell grid-cell-20"><strong>Pace:</strong></div>
			            <div class="grid-cell-last grid-cell-40"><span id="add-run-pace" data-bind="text: pace">0</span> min/<span data-bind="text: distanceUnitsSingular" class="distanceUnitsSingular">mile</span></div>
			            <div class="grid-cell-end"></div>
		            </div>
		            <div class="grid-row">
			            <div class="grid-cell grid-cell-40"><small>[hh:]mm[:ss]</small></div>
			            <div class="grid-cell grid-cell-20">
                            @if (ViewContext.HasUserAccountWeight()) {
                            <strong>Calories:</strong>
                            }
                        </div>
			            <div class="grid-cell-last grid-cell-40">
                            @if (ViewContext.HasUserAccountWeight()) {
                            <span data-bind="text: calories">0</span>
                            }
                        </div>
			            <div class="grid-cell-end"></div>
		            </div>
                </div>
            </div>
			<div class="grid-cell-end"></div>
		</div>
        <div class="grid-row grid-row-separator"></div>
		<div class="grid-row">
			<div class="grid-cell grid-cell-20"><strong>Comment:</strong> (optional)</div>
			<div class="grid-cell-last grid-cell-80"><textarea id="add-run-comment" data-bind="value: comment, valueUpdate: 'afterkeydown'" rows="2" cols="30" maxlength="1000"></textarea></div>
			<div class="grid-cell-end"></div>
		</div>
        <div class="grid-row grid-row-separator"></div>
		<div class="grid-row">
			<div class="grid-cell grid-cell-20"></div>
			<div class="grid-cell-last grid-cell-80"><input type="button" class="submit" id="add-run-submit-button" value="Add" data-bind="visible: showAdd"/>
             <input type="button" class="submit" id="update-run-submit-button" value="Update" data-bind="visible: showEdit"/>
             <input type="button" class="submit" id="delete-run-submit-button" value="Delete" data-bind="visible: showDelete"/>
             <input type="button" class="submit" id="add-run-cancel-button" value="Cancel"/></div>
			<div class="grid-cell-end"></div>
		</div>
    </div>
    </fieldset>
    <br /><br />
    <input type="hidden" id="add-run-date-utc" />
</div>

<div id="loginPromptDialog" title="Please login">
	<p>
    Before you can create your first Run Log, you need to login or create an account
    at the <span class="important">top of the page</span>.
    </p>

    <p>
    <strong>First time users: </strong> Don't worry, it will only take a few moments
    and we only ask for your name. Simply use your Google, Twitter, Yahoo, or MyOpenID
    account to login - and you're done! We won't have access to your password or email address.
    </p>
</div>

<div id="calendar"></div>

<div>
<a id="downloadRunLogEvents" href="@Url.Action("download", "user")">Download all Run:Log events</a>
</div>